@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Mooli", sans-serif;
  box-sizing: border-box;
}

/* Page transition area start here */
.nav-animated {
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.menu-animated {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.icon-animated a {
  opacity: 0;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.text-animated h5,
p {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.text-animated h1 {
  opacity: 0;
  animation: slideRight 3s ease forwards;
}
.btn-animated {
  opacity: 0;
  animation: slideTop 1s ease forwards;
}
.img-animated {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.5s;
}
.about-animated {
  opacity: 0;
  animation: slideLeft 2s ease forwards;
  animation-delay: 2s;
}
.service-animated {
  opacity: 0;
  animation: slideBottom 3s ease forwards;
}
.skill-animated {
  opacity: 0;
  animation: slideRight 3s ease forwards;
}
.project-animated {
  opacity: 0;
  animation: slideTop 3s ease forwards;
}
.contact-animated {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.5s;
}
/* Page transition area ends here */

body {
  background: #1e272e !important;
}
/* button custom css */
.btn {
  border-color: #0097e6 !important;
  --bs-btn-color: #0097e6 !important;
  --bs-btn-border-color: #0097e6 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #0097e6 !important;
  --bs-btn-hover-border-color: #0097e6 !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0097e6 !important;
  --bs-btn-active-border-color: #0097e6 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #0097e6 !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #0097e6 !important;
  --bs-gradient: none !important;
}
/* nav */
.nav-link:hover {
  color: #0097e6 !important;
}
/* img */
.container .col img {
  margin-top: 5%;
  margin-bottom: 5%;
}
/* text-style */
.col h5,
h1,
p {
  font-weight: bolder !important;
}
.col h1,
p {
  color: #fff;
}
span {
  color: #0097e6;
}
/* about-css */
.about-color {
  background-color: #1e272e;
}

p {
  font-weight: normal !important;
}
h1,
h2,
h3 {
  font-weight: bolder !important;
}
/* skill-css */
.skill-color {
  background-color: #1e272e !important;
}
/* projects-css */
.video-edit {
  height: 30vh !important;
}

/* navbar animation keyframe */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* menu animation keyframe */
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* text anmation keyframe */
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* text anmation keyframe */
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
