@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Mooli", sans-serif;
  box-sizing: border-box;
}

                                      /* Page transition area start here */
 /* .spin:hover{
  transform: rotate(360deg) ;
  transition: all 3s;
} */
/* .spin2 {
  width: 80%;
}
.spin2 > * {
  display:inline;
  position: relative;
  animation: 3s linear move;
}
@keyframes move {
  0%,
  100% {
    transform: translateX(-110%);
    left: 0%;
  }
  0%,
  100% {
    transform: translateX(110%);
    right: 100%;
  }
} */ 
                                        /* Page transition area ends here */


body {
  background: #1e272e !important;
}
 /* button custom css */
.btn {
  border-color: #0097e6 !important;
  --bs-btn-color: #0097e6 !important;
  --bs-btn-border-color: #0097e6 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #0097e6 !important;
  --bs-btn-hover-border-color: #0097e6 !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0097e6 !important;
  --bs-btn-active-border-color: #0097e6 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #0097e6 !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #0097e6 !important;
  --bs-gradient: none !important;
}
 /* nav */
.nav-link:hover {
  color: #0097e6 !important;
}
.navbar{
  position: sticky;
  top: 0px;
}
/* img */
.container .col img {
  margin-top: 5%;
  margin-bottom: 5%;
}
/* text-style */
.col h5,
h1,
p {
  font-weight: bolder !important;
}
.col h1,
p {
  color: #fff;
}
span {
  color: #0097e6;
}
/* about-css */
.about-color {
  background-color: #1e272e;
}

p {
  font-weight: normal !important;
}
h1,
h2,
h3 {
  font-weight: bolder !important;
}
/* skill-css */
.skill-color {
  background-color: #1e272e !important;
}
/* projects-css */
.video-edit {
  height: 30vh !important;
}

